body{
    padding:50px 0px;
    z-index: 0;
    color:darkblue;
}

.navbar-inverse, footer{
    background-color: midnightblue;
    font-family: "Montserrat Alternates";
    color: #fff;

}

.navbar-inverse .navbar-nav .nav-link{
    color: #fff;
}


.jumbotron {
    font-family: "Roboto", 'Cizel Decorative';
    font-size: 22px;
    padding: 70px 30px;
    margin: 0px auto;
    background: midnightblue;
    color: floralwhite;
    text-align: left;
}

#main{
    margin-top: 3em;
    margin-bottom:10%;
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: midnightblue;
    margin: 0px auto;
    padding: 20px 0px;
}

/*.work-exp{*/
    /*background: url("htp://qwett.com/wp-content/uploads/MacBook-Black-Background.jpg") center fixed no-repeat;*/
    /*background-size: cove;*/
/*}*/


.form-group.required .col-form-label:after {
    content:"*";
    color:red;
}


.card-deck{
    margin-bottom: 2em;
}

.logobox {
    display: block;
    margin-top: .7em;
    height: 150px;
}

.logobox img {
    height: 100px;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}